<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveRepuesto()"
          [formGroup]="repuestoForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="repuestoNameId">Nombre repuesto</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="repuestoNameId"
                 type="text"
                 placeholder="Nombre (requirido)"
                 formControlName="name"
                 name="name" />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="modelId">Modelo</label>

        <div class="col-md-8">
          <textarea class="form-control"
                    id="modelId"
                    placeholder="Modelo"
                    rows=3
                    formControlName="model"
                    name="model"></textarea>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="descriptionId">Descripcion</label>

        <div class="col-md-8">
          <textarea class="form-control"
                    id="descriptionId"
                    placeholder="Descripción"
                    rows=3
                    formControlName="description"
                    name="description"></textarea>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="priceId">Precio</label>

        <div class="col-md-8">
          <input class="form-control"
                    id="priceId"
                    placeholder="Precio"
                    formControlName="price"
                    name="price" />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="categoriesId">Categoria</label>

        <div class="col-md-8">
            <select class="form-control"
            id="categoriesId"
            placeholder="Categoria"
            formControlName="category"
            name="category" name="Categorías">
              <optgroup label="Filtros">
                  <option>Filtro de aceite</option>
                  <option>Filtro de combustible</option>
                  <option>Filtro de aire</option>
                  <option>Filtro de polen</option>
              </optgroup>
              <optgroup label="Líquidos">
                  <option>Líquido de frenos</option>
                  <option>Líquido anicongelante</option>
                  <option>Líquido aire acondicionado</option>
                  <option>Líquido de dirección</option>
                  <option>Aceite</option>
              </optgroup>
              <optgroup label="Sistema Eléctrico">
                  <option>Faros</option>
                  <option>Batería</option>
                  <option>Indicadores de dirección</option>
                  <option>Alternadores</option>
                  <option>Focos</option>
                  <option>Cableado Eléctrico</option>
              </optgroup>
              <optgroup label="Sistema de Encendido">
                  <option>Cableado de Encendido</option>
                  <option>Bujías</option>
                  <option>Bobinas</option>
                  <option>Supresores</option>
                  <option>Calentadores</option>
              </optgroup>
              <optgroup label="Sistema de Frenos">
                  <option>Discos de Freno</option>
                  <option>Pastillas de Freno</option>
                  <option>Calipers</option>
                  <option>Zapatas</option>
                  <option>Pinzas de Freno</option>
              </optgroup>
              <optgroup label="Sistema de Suspensión">
                  <option>Amortiguadores</option>
                  <option>Resortes</option>
                  <option>Trapecios</option>
                  <option>Rótulas</option>
              </optgroup>
               <optgroup label="Ruedas">
                  <option>Neumáticos</option>
                  <option>Llantas</option>
                  <option>Cadenas</option>
              </optgroup>
               <optgroup label="Sistema Motor">
                  <option>Anillos</option>
                  <option>Bielas</option>
                  <option>Metales de bancada</option>
                  <option>Gorros de válvulas</option>
                  <option>Empaques</option>
                  <option>Retenes</option>
                  <option>Válvulas</option>
                  <option>Bomba de agua</option>
                  <option>Bomba de aceite</option>
                  <option>Bomba de gasolina</option>
                  <option>Ejes de levas</option>
                  <option>Culata</option>
                  <option>Cárter</option>
                  <option>Cubre carter</option>
                  <option>Pistones</option>
              </optgroup>
              <optgroup label="Turbo">
                  <option>Turbina</option>
                  <option>Eje</option>
                  <option>Compresor</option>
                  <option>Válvula de descarga</option>
                  <option>Válvula de alivio</option>
                  <option>Intercooler</option>
              </optgroup>
              <optgroup label="Chapa">
                  <option>Capó</option>
                  <option>Maletero</option>
                  <option>Techo</option>
                  <option>Paragolpes delantero</option>
                  <option>Paragolpes Trasero</option>
                  <option>Aleta delantera derecha</option>
                  <option>Aleta delantera izquierda</option>
                  <option>Aleta trasera derecha</option>
                  <option>Aleta traseta izquierda</option>
              </optgroup>
               <optgroup label="Tubo de Escape">
                  <option>Sensores de oxígeno</option>
                  <option>Convertidor catalítico</option>
                  <option>Silenciador</option>
                  <option>Resonador</option>
                  <option>Tubo de cola</option>
              </optgroup>
              <optgroup label="Vidrios y Cristales">
                  <option>Luna delantera</option>
                  <option>Luna trasera</option>
                  <option>Ventanilla</option>
                  <option>Retrovisor derecho</option>
                  <option>Retrovisor izquierdo</option>
                  <option>Retrovisor central</option>
              </optgroup>
              <optgroup label="Interior">
                  <option>Asientos traseros</option>
                  <option>Asientos del piloto</option>
                  <option>Asiento del copiloto</option>
                  <option>Volante</option>
                  <option>Palanca de cambios</option>
                  <option>Radio</option>
                  <option>Botones</option>
                  <option>Parasoles</option>
                  <option>Cuadro</option>
                  <option>Climatizador</option>
              </optgroup>
              <optgroup label="Aerodinámica">
                  <option>Alerón delantero</option>
                  <option>Alerón trasero</option>
                  <option>Pasos de rueda</option>
              </optgroup>
              <optgroup label="Cambio de Marchas">
                  <option>Caja</option>
                  <option>Palanca</option>
                  <option>Piñones</option>
                  <option>Ejes</option>
                  <option>Selectores</option>
                  <option>Embrague</option>
              </optgroup>
              <optgroup label="Otros">
                  <option>Chasis</option>
              </optgroup>
          </select>
        </div>
      </div>

      <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="imageId">Imagen</label>
  
          <div class="col-md-8">
            <input class="form-control"
                      id="imageId"
                      placeholder="Enlace imagen"
                      formControlName="image"
                      name="image" />
          </div>
        </div>


      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button  class="btn btn-primary mr-3"
                  type="submit"
                  title="Guadar">
            Guardar
          </button>
          <button style="margin: 10px" class="btn btn-outline-secondary mr-3"
                  type="button"
                  title="Cancelar"
                  [routerLink]="['']">
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>